@import "../../common/best-reset.css";

.scroll-wrapper {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: 100vh;
  block-size: 100vh;
}

section {
  width: 100%;
  inline-size: 100%;
  height: 100vh;
  block-size: 100vh;
  scroll-snap-align: center;
}

.section-01 {
  background-color: yellowgreen;
}
.section-02 {
  background-color: plum;
}
.section-03 {
  background-color: lightcoral;
}
.section-04 {
  background-color: lightsteelblue;
}
