@import "../../common/normalize.css";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

.table-wrapper {
  table-layout: fixed;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
  margin-inline: auto;
}

.ediya-news {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  border-block: 2px solid #24388d;
  color: #24388d;

  tr,
  td {
    border-block-start: 1px solid #919bc6;
    font-size: 0.75rem;
    font-weight: 700;
    float: inline;
  }
}

body {
  font-family: "Pretendard Variable", Pretendard, sans-serif;
}

figure {
  display: flex;
  font-weight: 500;
  line-height: 1.5;
  strong {
    color: #24388d;
    margin-left: 10px;
    margin-inline-start: 10px;
    font-size: 1rem;
  }
  p {
    color: #878787;
    margin-left: 10px;
    margin-inline-start: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-block: 5px;
    font-size: 0.75rem;
  }
}
